---
const { index, titleJa, titleEn } = Astro.props;
const imgBase = import.meta.env.PUBLIC_IMAGE_BASE;
---

<header class='c-feature-item-header'>
  <div class='c-feature-item-header__image'>
    <img src={`${imgBase}feature_item-title${index}.png`} alt='' />
  </div>
  <div class={`c-feature-item-header__title-wrapper _${index}`}>
    <h3 class='c-feature-item-header__title'>{titleJa}</h3>
    {titleEn}
  </div>
</header>
