.c-feature-item__title .c-feature-item__description .c-feature-item__image
.c-feature-item__link

<li class='c-feature-item'>
  <header class='c-feature-item__header'>
    <div class='c-feature-item__image'></div>
    <img src={`${imgBase}feature_01.png`} alt='森半のお歳暮' />
  </header>
  <h3 class='c-feature-item__title'>{title}</h3>
</li>
<div class='c-feature-item__image'>
  <img src={`${imgBase}feature_01.png`} alt='森半のお歳暮' />
</div>
<ul class='c-feature-item__points-list'>
  <li class='c-feature-item__point'>
    <div class='c-feature-item__point-image'>
      <img src={`${imgBase}feature_01.png`} alt='森半のお歳暮' />
    </div>
    <div class='c-feature-item__point-text'>
      <p class='c-feature-item__point-text-title'>{itemTitle}</p>
      <p class='c-feature-item__point-text-description'>{itemDescription}</p>
    </div>
  </li>
  <li class='c-feature-item__point'>
    <div class='c-feature-item__point-image'>
      <img src={`${imgBase}feature_01.png`} alt='森半のお歳暮' />
    </div>
    <div class='c-feature-item__point-text'>
      <p class='c-feature-item__point-text-title'>{itemTitle}</p>
      <p class='c-feature-item__point-text-description'>{itemDescription}</p>
    </div>
  </li>
  <li class='c-feature-item__point'>
    <div class='c-feature-item__point-image'>
      <img src={`${imgBase}feature_01.png`} alt='森半のお歳暮' />
    </div>
    <div class='c-feature-item__point-text'>
      <p class='c-feature-item__point-text-title'>{itemTitle}</p>
      <p class='c-feature-item__point-text-description'>{itemDescription}</p>
    </div>
  </li>
</ul>
