---
import { Image } from 'astro:assets';
const { index, title, description, image } = Astro.props;
const imgBase = import.meta.env.PUBLIC_IMAGE_BASE;
---

<li class={`c-points__item _${index}`}>
  <div class='c-points__image'>
    <Image
      src={image}
      alt=''
      loading='lazy'
      decoding='async'
      width='280'
      height='280'
      widths={[280,420,560]}
    />
  </div>
  <div class='c-points__text'>
    <div class='c-points__text-title-wrapper'>
      <div class='c-points__title-index'>
        <span class='c-points__title-num--en' aria-hidden='true'>Point</span>
        <span class='c-points__title-num'>{index}</span>
      </div>
      <h4 class='c-points__text-title' set:html={title} />
    </div>
    <p class='c-points__text-description'>{description}</p>
  </div>
</li>
