---
const { index, title, price } = Astro.props;
const imgBase = import.meta.env.PUBLIC_IMAGE_BASE;
---

<li class='c-ranking-card splide__slide'>
  <div class={`c-ranking-card__frame ${index === 2 ? '_02' : ''}`}>
    <div
      class={`c-ranking-card__tag ${index === 4 || index === 5 ? '_side' : ''}`}
    >
      <img src={`${imgBase}/svg/no${index}_title.svg`} alt='ranking_tag' />
    </div>
    <div class='c-ranking-card__image'>
      <img src={`${imgBase}/ranking_${index}.png`} alt='ranking_image' />
    </div>
    <h4 class='c-ranking-card__title' set:html={title}></h4>
    <div class='c-ranking-card__line'>
      <img src={`${imgBase}/svg/line.svg`} alt='line' />
    </div>

    <div class='c-ranking-card__price'><span class='c-ranking-card__price-amount'>&yen;
</span>
      {price}<span class='c-ranking-card__price-amount _tax'>(税込)</span>
    </div>
  </div>
</li>
