---
import { Image } from 'astro:assets';
const { index, title, description, colorClass, image } = Astro.props;
const imgBase = import.meta.env.PUBLIC_IMAGE_BASE;
---

<li class='p-tips__item c-tips-item'>
  <header class={`c-tips-item__heading ${colorClass}`}>
    <div class='c-tips-item__heading-img--pc'>
      <Image src={image} alt='' loading='lazy' decoding='async' />
    </div>
    <h3 class='c-tips-item__title'>
      <span>
        {title}
        <span class='c-tips-item__heading-img'>
          <Image src={image} alt='' loading='lazy' decoding='async' />
        </span>
      </span>
    </h3>
  </header>
  <div class='c-tips-item__content'>
    <h3 class='c-tips-item__title--pc'>{title}</h3>
    <p class='c-tips-item__description'>
      {description}
    </p>
  </div>
</li>
