---
import {Image} from 'astro:assets';
const imgBase = import.meta.env.PUBLIC_IMAGE_BASE;
const userImage1 =import('/src/assets/images/illust_01.png');
const userImage2 =import('/src/assets/images/illust_02.png');
const userImage3 =import('/src/assets/images/illust_03.png');
---

<div class='p-reviews'>
  <div class='l-container'>
    <div class='p-reviews__inner'>
      <div class='p-reviews__heading'>
        <div class='p-reviews__heading-ashirai' aria-hidden='true'>
          <img
            src={`${imgBase}/svg/ashirai.svg`}
            alt=''
            loading='lazy'
            decoding='async'
          />
        </div>
        <h3 class='p-reviews__title'>お客様の声</h3>
      </div>
      <ul class='p-reviews__list'>
        <li class='p-reviews__item'>
          <div class='p-reviews__item-inner'>
            <p class='p-reviews__item-text'>
              御抹茶感がしっかりあり甘すぎず、クッキー部分はしっとりサクサク、とにかくハマってます。
            </p>
            <div class='p-reviews__user'>
              <div class='p-reviews__user-age'>50代女性</div>
              <div class='p-reviews__user-image' aria-hidden='true'>
                <Image
                  src={userImage1}
                  alt=''
                  width='80'
                  height='80'
                  loading='lazy'
                  decoding='async'
                  widths={[80,120,160]}
                />
              </div>
            </div>
          </div>
        </li>
        <li class='p-reviews__item'>
          <div class='p-reviews__item-inner'>
            <p class='p-reviews__item-text'>
              しっとりしてお茶のお味もしっかりしてとても美味しいです
              贈り物にも良さそう。
            </p>
            <div class='p-reviews__user'>
              <div class='p-reviews__user-age' aria-hidden='true'>
                50代女性
              </div>
              <div class='p-reviews__user-image'>
                <Image
                  src={userImage2}
                  alt=''
                  width='80'
                  height='80'
                  loading='lazy'
                  decoding='async'
                  widths={[80,120,160]}
                />
              </div>
            </div>
          </div>
        </li>

        <li class='p-reviews__item'>
          <div class='p-reviews__item-inner'>
            <p class='p-reviews__item-text'>
              フィナンシェ、あんまり好きじゃなかったのですが森半さんのを頂いたので食べてみました‼︎
              めっちゃ美味しい‼︎ ギトギト感もなく抹茶がしっかり感じました。
              美味しかったので妹にも食べて欲しくなり送りました！
            </p>
            <div class='p-reviews__user'>
              <div class='p-reviews__user-age'>40代男性</div>
              <div class='p-reviews__user-image' aria-hidden='true'>
                <Image
                  src={userImage3}
                  alt=''
                  width='80'
                  height='80'
                  loading='lazy'
                  decoding='async'
                  widths={[80,120,160]}
                />
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
