---
import { Image } from 'astro:assets';
import FeatureItemHeader from '../components/FeatureItemHeader.astro';
import PointsItem from '../components/PointsItem.astro';
import { featureItemPointsDataWaffle } from '../data/featureItemPointsData';
import { featureItemPointsDataFinancier } from '../data/featureItemPointsData';
const imgBase = import.meta.env.PUBLIC_IMAGE_BASE;
const headerImageWaffle =import('/src/assets/images/feature_item-title1.png');
const headerImageFinancier =import('/src/assets/images/feature_item-title2.png');
const featureItemImageWaffle =import('/src/assets/images/feature_item-waffle.png');
const featureItemImageFinancier =import('/src/assets/images/feature_item-financier.png');
const pointsImageWaffle =import.meta.glob('/src/assets/images/feature_item_points_*.png',{
  eager:true,
  import: 'default',
}) as Record<string, ImageMetadata>;

const pointsImageFinancier =import.meta.glob('/src/assets/images/feature_item_points_*.png',{
  eager:true,
  import: 'default',
}) as Record<string, ImageMetadata>;

const getPointsImageWaffle = (index: string) => {
  const pad =String(index).padStart(2, '0');
  const key = `/src/assets/images/feature_item_points_${pad}.png`;
  return pointsImageWaffle[key] || null;
};
const getPointsImageFinancier = (index: string) => {
  const pad =String(index).padStart(2, '0');
  const key = `/src/assets/images/feature_item_points_${pad}.png`;
  return pointsImageFinancier[key] || null;
};
---

<div class='p-sweets__feature'>
  <ul class='p-sweets__feature-list'>
    <li class='p-sweets__feature-item'>
      <FeatureItemHeader
        index={1}
        titleJa='抹茶ヴァッフェル'
        titleEn='Matcha Waffle'
        image={headerImageWaffle}
      />
      <div class='p-sweets__feature-img-wrapper'>
        <div class='p-sweets__feature-img'>
          <Image
            src={featureItemImageWaffle}
            alt='抹茶ヴァッフェル'
            loading='lazy'
            decoding='async'
            width='835'
            height='716'
            widths={[835,1252,1669]}
          />
        </div>
        <ul class='p-sweets__feature-points-list'>
          {
            featureItemPointsDataWaffle.map((item) => (
              <PointsItem
                index={item.index}
                title={item.title}
                description={item.description}
                image={getPointsImageWaffle(item.index)}
              />
            ))
          }
        </ul>
      </div>
    </li>
    <li class='p-sweets__feature-item'>
      <FeatureItemHeader
        index={2}
        titleJa='抹茶フィナンシェ'
        titleEn='Matcha Financier'
        image={headerImageFinancier}
      />
      <div class='p-sweets__feature-img-wrapper'>
        <div class='p-sweets__feature-img'>
          <Image
            src={featureItemImageFinancier}
            alt='抹茶フィナンシェ'
            loading='lazy'
            decoding='async'
            width='936'
            height='753'
            widths={[936,1404,1872]}
          />
        </div>
        <ul class='p-sweets__feature-points-list'>
          {
            featureItemPointsDataFinancier.map((item) => (
              <PointsItem
                index={item.index}
                title={item.title}
                description={item.description}
                image={getPointsImageFinancier(item.index)}
              />
            ))
          }
        </ul>
      </div>
    </li>
  </ul>
</div>
