---
import { navItemData } from '../data/navItemData';
import NavItem from '../components/NavItem.astro';
const images = import.meta.glob('/src/assets/images/nav_*.jpg', { eager: true,import: 'default'}) as Record<string, ImageMetadata>;
const getNavImage = (index: string) =>{
  const pad =String(index).padStart(2, '0');
  const key =`/src/assets/images/nav_${pad}.jpg`;
  return images[key] || null;
}
---
<section class='p-nav'>
  <div class='l-container'>
    <nav class='p-nav__inner' aria-labelledby='nav-title'>
      <h2 id='nav-title' class='p-nav__title visually-hidden'>
        コンテンツ一覧
      </h2>
      <ul class='p-nav__list'>
        {
          navItemData.map((item) => (
            <NavItem id={item.id} index={item.index} title={item.title} image={getNavImage(item.index)}/>
          ))
        }
      </ul>
    </nav>
  </div>
</section>
