---
import PriceBlock from '../blocks/PriceBlock.astro';
import { priceBlockData } from '../data/priceBlockData';
const imgBase = import.meta.env.PUBLIC_IMAGE_BASE;
---

<section class='p-price'>
  <div class='l-container'>
    <div class='l-inner'>
      <header class='p-price__heading'>
        <h2 class='p-price-heading__title'>価格で選ぶ</h2>
        <p class='p-price-heading__description'>
          低価格から高級ギフトまで価格別におすすめの
          お歳暮・冬ギフトをご用意しています。
        </p>
      </header>
      <nav class='p-price__nav'>
        <ul class='p-price-nav__list'>
          <li class='p-price-nav__item'>
            <a href='#' class='p-price-nav__link'>
              <img src={`${imgBase}price-nav_01.jpg`} alt='価格で選ぶ' />
              <div class='p-price-nav__link-text-wrapper'>
                <div class='p-price-nav__link-text'>
                  <span class='p-price-nav__small'>～</span>2,000<span
                    class='p-price-nav__small'>円</span
                  >
                </div>
              </div>
            </a>
            <li class='p-price-nav__item'>
              <a href='#' class='p-price-nav__link'>
                <img src={`${imgBase}price-nav_02.jpg`} alt='価格で選ぶ' />
                <div class='p-price-nav__link-text-wrapper'>
                  <div class='p-price-nav__link-text'>
                    2,001<span class='p-price-nav__small'>円～</span>4,000<span
                      class='p-price-nav__small'>円</span>
                  </div>
                </div>
              </a>
            </li>
            <li class='p-price-nav__item'>
              <a href='#' class='p-price-nav__link'>
                <img src={`${imgBase}price-nav_03.jpg`} alt='価格で選ぶ' />
                <div class='p-price-nav__link-text-wrapper'>
                  <div class='p-price-nav__link-text'>
                    4,001<span class='p-price-nav__small'>円～</span>6,000<span
                      class='p-price-nav__small'>円</span>
                  </div>
                </div>
              </a>
            </li>
            <li class='p-price-nav__item'>
              <a href='#' class='p-price-nav__link'>
                <img src={`${imgBase}price-nav_04.jpg`} alt='価格で選ぶ' />
                <div class='p-price-nav__link-text-wrapper'>
                  <div class='p-price-nav__link-text'>
                    6,001<span class='p-price-nav__small'>円～</span>
                  </div>
                </div>
              </a>
            </li>
          </li>
        </ul>
        <ul class='p-price__blocks'>
          {
            priceBlockData.map((item) => (
              <PriceBlock title={item.title} imgBase={imgBase} />
            ))
          }
        </ul>
      </nav>
    </div>
  </div>
</section>
