---
import RankingCard from '../components/RankingCard.astro';
import { rankingItemData } from '../data/rankingItemData';
const imgBase = import.meta.env.PUBLIC_IMAGE_BASE;
---

<!-- Splide.js CDN -->
<link
  rel='stylesheet'
  href='https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css'
/>
<script
  src='https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js'
></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const splide = new Splide('.splide', {
      type: 'slide',
      perPage: 3,
      perMove: 1,
      gap: '40px',
      padding: { left: 170, right: 60 },
      breakpoints: {
        768: {
          perPage: 1,
          gap: '1rem',
          padding: '20px',
        },
        980: {
          perPage: 2,
          gap: '1rem',
          padding: '20px',
        },
      },

      arrows: true,
      pagination: true,
    });

    splide.mount();
  });
</script>

<section id='ranking-section' class='p-ranking' aria-labelledby='ranking-heading'>
  <header id='ranking-heading' class='p-ranking__heading'>
    <div class='p-ranking__deco-wrapper'>
      <div class='p-raking__deco-1'>
        <img
          src={`${imgBase}/svg/ranking-ashirai--1.svg`}
          alt='お歳暮・冬ギフトランキング'
        />
      </div>
      <div class='p-raking__deco-2'>
        <img
          src={`${imgBase}/svg/ranking-ashirai--2.svg`}
          alt='お歳暮・冬ギフトランキング'
        />
      </div>
      <div class='p-raking__deco-3'>
        <img
          src={`${imgBase}/svg/ranking-ashirai--3.svg`}
          alt='お歳暮・冬ギフトランキング'
        />
      </div>
      <div class='p-raking__deco-4'>
        <img
          src={`${imgBase}/svg/ranking-ashirai--4.svg`}
          alt='お歳暮・冬ギフトランキング'
        />
      </div>
      <div class='p-raking__deco-5'>
        <img
          src={`${imgBase}/svg/ranking-ashirai--5.svg`}
          alt='お歳暮・冬ギフトランキング'
        />
      </div>
    </div>
    <div class='p-ranking__title-wrapper'>
        <h2 id='ranking-title' class='visually-hidden'>お歳暮・冬ギフトランキング</h2>
      <div class='p-ranking__title-img--wrapper _1'>
      <img
        src={`${imgBase}/svg/ranking_title-1.svg`}
        alt='お歳暮・冬ギフトランキング'
      />
      </div>
        <div class='p-ranking__title-img--wrapper _2'>
      <img src={`${imgBase}/svg/ranking_title-2.svg`} alt='お歳暮・冬ギフトランキング' />
            </div>
    </div>

  </header>
  <div class='splide p-ranking__carousel'  role='group' aria-label='お歳暮・冬ギフトランキング'>
    <div class='splide__track'>
      <ul class='splide__list p-ranking__items'>
        {
          rankingItemData.map((item) => (
            <RankingCard
              index={item.index}
              title={item.title}
              price={item.price}
            />
          ))
        }
      </ul>
    </div>
  </div>
<div class='p-ranking__gold-line'>
  <img src={`${imgBase}/svg/gold_line.svg`} alt='gold-line' />
</div>
</section>
