---
import Reviews from '../blocks/Reviews.astro';
import ItemCard from '../components/ItemCard.astro';
import SweetsFeature from '../blocks/SweetsFeature.astro';
import { sweetsAssortmensItemData } from '../data/sweetsAssortmensItemData';
import { sweetsOtherItemData } from '../data/sweetsOtherItemData';
import SectionTitle from '../components/SectionTitle.astro';
const imgBase = import.meta.env.PUBLIC_IMAGE_BASE;
---

<section id='sweets-section' class='p-sweets' aria-labelledby='sweets-title'>
  <div class='l-container'>
    <SectionTitle id='sweets-title' title='抹茶スイーツで選ぶ' />
    <SweetsFeature />
    <Reviews />
    <div class='p-sweets__assortments'>
      <SectionTitle
        title='ヴァッフェル・フィナンシェ<br class="is_sm" />詰め合わせ'
      />
      <div class='p-cards p-sweets__assortments-cards'>
        <ul class='p-cards__list'>
          {
            sweetsAssortmensItemData.map((item) => (
              <ItemCard
                fileName={item.fileName}
                code={item.code}
                title={item.title}
                description={item.description}
                price={item.price}
              />
            ))
          }
        </ul>
      </div>
    </div>
  </div>

  <div class='p-sweets__other'>
    <SectionTitle title='他おすすめスイーツ' />
    <div class='p-cards p-sweets__other-cards'>
      <ul class='p-cards__list'>
        {
          sweetsOtherItemData.map((item) => (
            <ItemCard
              fileName={item.fileName}
              code={item.code}
              title={item.title}
              description={item.description}
              price={item.price}
            />
          ))
        }
      </ul>
    </div>
    <div class='p-sweets__gold-line'>
      <img src={`${imgBase}/svg/gold_line.svg`} alt='' />
    </div>
  </div>
</section>
