---
import Reviews from '../blocks/Reviews.astro';
import ItemCard from '../components/ItemCard.astro';
import { sweetsAssortmensItemData } from '../data/sweetsAssortmensItemData';
import { sweetsOtherItemData } from '../data/sweetsOtherItemData';
const imgBase = import.meta.env.PUBLIC_IMAGE_BASE;
---

<section class='p-sweets'>
  <div class='l-container'>
    <h2 class='p-sweets__heading'>抹茶スイーツで選ぶ</h2>
    <Reviews />
    <div class='p-sweets__assortments'>
      <h3 class='p-sweets__other-title'>
        ヴァッフェル・フィナンシェ<br />詰め合わせ
      </h3>

      <div class='p-cards'>
        <ul class='p-cards__list'>
          {
            sweetsAssortmensItemData.map((item) => (
              <ItemCard
                imgUrl={item.imgUrl}
                title={item.title}
                description={item.description}
                price={item.price}
              />
            ))
          }
        </ul>
      </div>
    </div>
    <div class='p-sweets__other'>
      <h3 class='p-sweets__other-title'>
        他おすすめスイーツ
      </h3>
      <div class='p-cards'>
        <ul class='p-cards__list'>
          {
            sweetsOtherItemData.map((item) => (
              <ItemCard
                imgUrl={item.imgUrl}
                title={item.title}
                description={item.description}
                price={item.price}
              />
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</section>
