---
import TipsItem from '../components/TipsItem.astro';
import { tipsItemData } from '../data/tipsItemData';
import Noshi from '../blocks/Noshi.astro';
const imgBase = import.meta.env.PUBLIC_IMAGE_BASE;
---

<section id='tips-section' aria-labelledby='tips-title' class='p-tips'>
  <div class='l-container'>
    <div class='l-inner'>
      <div id='tips-inner' class='p-tips__inner _close'>
        <header class='p-tips__heading'>
          <div class='p-tips__heading-img--upper'>
            <img
              src={`${imgBase}/svg/noshi_upper.svg`}
              alt=''
              loading='lazy'
              decoding='async'
            />
          </div>
          <h2 id='tips-title' class='p-tips__title'>お歳暮の豆知識</h2>
          <div class='p-tips__heading-img--lower'>
            <img
              src={`${imgBase}/svg/noshi_lower.svg`}
              alt=''
              loading='lazy'
              decoding='async'
            />
          </div>
        </header>
        <ul class='p-tips__list'>
          {
            tipsItemData.map((item) => (
              <TipsItem
                index={item.index}
                colorClass={item.colorClass}
                title={item.title}
                description={item.description}
              />
            ))
          }
        </ul>
        <Noshi />
        <button
          type='button'
          class='p-tips__toggle'
          aria-controls='tips-inner'
          aria-expanded='false'
          data-state='closed'
        >
          <span class='p-tips__toggle-text'>閉じる</span>
          <span class='p-tips__toggle-icon-inner'>
            <img
              src={`${imgBase}/svg/chevron-up.svg`}
              alt=''
              loading='lazy'
              decoding='async'
            />
          </span>
        </button>
      </div>
    </div>
  </div>
</section>

