---
import { Image } from 'astro:assets';
const wrappingNoshiImage =import('/src/assets/images/wrapping-noshi.jpg');
const wrappingBagImage =import('/src/assets/images/wrapping-bag.jpg');
const freeIconPinkImage =import('/src/assets/images/wrapping-free--pink.png');
const freeIconOrangeImage =import('/src/assets/images/wrapping-free--orange.png');
const imgBase = import.meta.env.PUBLIC_IMAGE_BASE;
---

<section
  id='wrapping-section'
  aria-labelledby='wrapping-title'
  class='p-wrapping'
>
  <div class='l-container'>
    <div class='l-inner'>
      <div class='p-wrapping__inner'>
        <header class='p-wrapping__header'>
          <div class='p-wrapping__header-image-upper' aria-hidden='true'>
            <img
              src={`${imgBase}/svg/noshi_upper.svg`}
              alt=''
              loading='lazy'
              decoding='async'
            />
          </div>
          <h2 id='wrapping-title' class='p-wrapping__title'>
            オンラインショップの<br class='is_sm' />便利なサービス
          </h2>
          <div class='p-wrapping__header-image-lower' aria-hidden='true'>
            <img
              src={`${imgBase}/svg/noshi_lower.svg`}
              alt=''
              loading='lazy'
              decoding='async'
            />
          </div>
        </header>
        <div class='p-wrapping__cards'>
          <div class='p-wrapping__card'>
            <header class='p-wrapping__card-header'>
              <div class='p-wrapping__card-icon'>
                <Image
                  src={freeIconPinkImage}
                  alt='無料'
                  loading='lazy'
                  decoding='async'
                  width='77'
                  height='74'
                  widths={[77,116,154]}
                />
              </div>
              <h3 class='p-wrapping__card-title'>
                <span class='p-wrapping__card-title--small'>安心・丁寧な</span> のし紙サービス
              </h3>
              <p class='p-wrapping__card-description'>
                お客様のご要望に合わせて、ショッピングカート内で、さまざまなパターンをお選びいただけます。
              </p>
            </header>
            <div class='p-wrapping__card-link-wrapper'>
              <a
                href='https://www.tea-and-coffee.shop/view/page/gift#housou'
                class='p-wrapping__card-link'
              >
                ギフトラッピングについて
                <span class='p-wrapping__card-link-arrow'></span>
              </a>
              <a
                href='https://www.tea-and-coffee.shop/view/page/gift#noshi'
                class='p-wrapping__card-link _noshi'
              >
                のしガイド
                <span class='p-wrapping__card-link-arrow'></span>
              </a>
            </div>
            <div class='p-wrapping__card-image'>
              <Image
                src={wrappingNoshiImage}
                alt='熨斗をつけた包装の参考例'
                loading='lazy'
                decoding='async'
                widths={[330,495,660]}
              />
            </div>
          </div>
          <div class='p-wrapping__card'>
            <header class='p-wrapping__card-header'>
              <div class='p-wrapping__card-icon'>
                <Image
                  src={freeIconOrangeImage}
                  alt='無料'
                  loading='lazy'
                  decoding='async'
                  width='77'
                  height='74'
                  widths={[77,116,154]}
                />
              </div>
              <h3 class='p-wrapping__card-title'>
                <span class='p-wrapping__card-title--small'
                  >ご自宅送りで使える</span
                > 手提げ袋サービス
              </h3>
              <p class='p-wrapping__card-description'>
                お客様のご要望に合わせて、ショッピングカート内で、商品サイズにあわせた、手提げ袋を同封します。
              </p>
            </header>
            <div class='p-wrapping__card-link-wrapper'>
              <a
                href='https://www.tea-and-coffee.shop/view/page/gift#paperbag'
                class='p-wrapping__card-link'
              >
                お手提げ袋について
                <span class='p-wrapping__card-link-arrow'></span>
              </a>
            </div>
            <div class='p-wrapping__card-image'>
              <Image
                src={wrappingBagImage}
                alt='紙袋の参考例'
                loading='lazy'
                decoding='async'
                widths={[330,495,660]}
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
