---
const imgBase = import.meta.env.PUBLIC_IMAGE_BASE;
---

<section class='p-wrapping'>
  <div class='l-container'>
    <header class='p-wrapping__header p-wrapping-header'>
      <div class='p-wrapping-header__image-upper'>
        <img src={`${imgBase}/svg/noshi_upper.svg`} alt='お歳暮の豆知識' />
      </div>
      <h2 class='p-wrapping-header__title'>
        オンラインショップの 便利なサービス
      </h2>
      <div class='p-wrapping-header__image-lower'>
        <img src={`${imgBase}/svg/noshi_lower.svg`} alt='お歳暮の豆知識' />
      </div>
    </header>
    <div class='p-wrapping__cards'>
      <div class='p-wrapping__card p-wrapping-card'>
        <header class='p-wrapping-card__header'>
          <div class='p-wrapping-card__icon'>
            <img
              src={`${imgBase}/svg/wrapping-free--pink.svg`}
              alt='お歳暮の包み方'
            />
          </div>
          <h3 class='p-wrapping-card__title'>
            安心・丁寧な<br /> のし紙サービス
          </h3>
          <p class='p-wrapping-card__description'>
            お客様のご要望に合わせて、ショッピングカート内で、さまざまなパターンをお選びいただけます。
          </p>
        </header>
        <div class='p-wrapping-card__link-wrapper'>
          <a href='#' class='p-wrapping-card__link'>
            ギフトラッピングについて
          </a>
          <a href='#' class='p-wrapping-card__link _noshi'> のしガイド </a>
        </div>
        <div class='p-wrapping-card__image'>
          <img src={`${imgBase}wrapping-noshi.jpg`} alt='お歳暮の包み方' />
        </div>
      </div>
      <div class='p-wrapping__card p-wrapping-card'>
        <header class='p-wrapping-card__header'>
          <div class='p-wrapping-card__icon'>
            <img
              src={`${imgBase}/svg/wrapping-free--orange.svg`}
              alt='お歳暮の包み方'
            />
          </div>
          <h3 class='p-wrapping-card__title'>
            ご自宅送りで使える <br />手提げ袋サービス
          </h3>
          <p class='p-wrapping-card__description'>
            お客様のご要望に合わせて、ショッピングカート内で、商品サイズにあわせた、手提げ袋を同封します。
          </p>
        </header>
        <div class='p-wrapping-card__link-wrapper'>
          <a href='#' class='p-wrapping-card__link'> お手提げ袋について </a>
        </div>
        <div class='p-wrapping-card__image'>
          <img src={`${imgBase}wrapping-bag.jpg`} alt='お歳暮の包み方' />
        </div>
      </div>
    </div>
  </div>
</section>
